i {
    width: 16px;
    height: 16px;

    pointer-events: none;
}

html, body {
    height: 100vh;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;

    overflow-x: auto;
    overflow-y: hidden;
}

.pb-sidebar-container {
    width: 280px;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

@media (max-width: 768px) {
    .pb-sidebar-container {
        width: 0 !important;
        padding: 0 !important;
    }
}
